@font-face {
  font-family: Newzald-Book;
  src: url("Newzald-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: DINOT-Light;
  src: url("DINOT-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: DINOT-Light-Italic;
  src: url("DINOT-Light-Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: DINOT;
  src: url("DINOT.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: DINOT-Medium;
  src: url("DINOT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
