body {
  margin: 0;
  font-family: var(--din-light);
  --din-light: DINOT-Light, "Calibre Light", sans-serif;
  --din-light-italic: DINOT-Light-Italic, "Calibre Light", sans-serif;
  --din-regular: DINOT, "Calibre Light", sans-serif;
  --din-medium: DINOT-Medium, "Calibre Light", sans-serif;
  --newzald-book: Newzald-Book, Georgia, serif;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
